<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Edit your post</h1>
    <h3>Post id :<%= post.id %></h3>
    <h3>Post username : @<%= post.username %></h3>
    <form action="/posts/<%= post.id %>/?_method=PATCH" method="post">
      <textarea id="" name="content" rows="8" cols="35">
<%= post.content %></textarea
      >
      <hr />
      <button>Edit</button>
    </form>
  </body>
</html>
