
.posts{
    background-color: rgba(128, 128, 128, 0.144);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;}

h1{
    color: maroon;
}

h3{
    color: darkmagenta;
}

h4{
    color: orangered;
}

p{
    color: rgb(228, 59, 228);
    font-weight: 900;
}