*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: antiquewhite;
}

h1{
    color: maroon;
}

h3{
    color: darkmagenta;
}

h4{
    color: orangered;
}

p{
    color: rgb(228, 59, 228);
    font-weight: 900;
}