<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body style="background-color: brown">
    <h1>Hii you are finding the correct path</h1>
    <h2>Wel-Come To Backend</h2>
    <p style="font: coral">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio hic
      deleniti enim libero, repellendus nostrum architecto. Obcaecati
      asperiores, vitae iusto quos consequatur facere temporibus iste officiis
      sit fugit sapiente illo doloribus aliquid harum, aut eligendi debitis
      laborum? Atque rerum voluptatum non facere error rem deserunt numquam,
      quis hic molestias eius.
    </p>
    <button>Click Me!!</button>
  </body>
</html>
